@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(300px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

.animate-scan {
  animation: scan 3s linear infinite;
}